@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue à la classe de studi</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button class="btn btn-primary">Valider</button>

<h3 class="titreRigolo">Ici le titre</h3>

<br/>

<a asp-controller="Students" asp-action="IndexStudents" >Liste des étudiants</a>